<div class="d-flex justify-content-center align-items-center  myDiv">
@for (schedule of scheduleList; track $index) {
   @if ($index==scheduleId) {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{schedule.vendorName}}</h5>
              <p class="card-text">{{schedule.fromLocation.locationName}} vers {{schedule.toLocation.locationName}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Départ de {{schedule.fromLocation.locationName}} à {{schedule.travelDate}}</li>
              <li class="list-group-item">Arrivée : {{schedule.toLocation.locationName}} à {{schedule.arrivalDate}}</li>
              <li class="list-group-item">Prix : {{schedule.price}}</li>
              <li class="list-group-item">Nombre total de places : {{schedule.totalSeats}}</li>
              <li class="list-group-item">Nombre de Places disponibles : {{schedule.availableSeats}}</li>
              <li class="list-group-item">
                Entrez le nombre de place à réserver
                <input type="number" class="form-control" [max]="schedule.availableSeats" [min]="1" [(ngModel)]="numberOfBookedSeats">
              </li>
            </ul>
            <div class="card-body">
              <a class="card-link" routerLink="/search">Annuler</a>
              <a class="card-link" (click)="book(schedule)">Réserver</a>
            </div>
          </div>
   }
}
</div>

