.container{
    background-color: #fff;
}
header{
    padding: 20px;
    border-top:2px solid #88888864;
    border-bottom:2px solid #88888864;
    margin:28px 100px 50px 100px;
}
.selectSearchSection{
    background-color: #0088a9;
    display: flex;
    justify-content: center;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
    padding: 8px;
    box-shadow: 0 0 12px #ff000079;
}
.selectSection{
    padding: 40px;
}
.form-elt{
    margin: 2px;
    outline: none;
}

/* styler la table */
.sectionTwo{
   text-align: center;
} 
.row-card{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 30px;
    box-shadow: 2px -2px 12px rgba(184, 183, 183, 0.507);
    border-radius: 10px;
}
.row-card div{
    text-align: center;
    border-right: 1px solid #88888864;
    padding-right: 4px;
}
.selectSection .form-elt{
   border: none;
   border-radius: 10px;
   padding: 5px;
   margin: 2px;
}
.selectSearchSection button{
    border: none;
    border-radius:8px ;
    padding: 18px;
    background-color: rgb(254, 249, 254);
    transition: .3s all;
}
.selectSearchSection button:hover{
    background-color: rgb(241, 237, 241);
    transform: scale(1.05);
}
.row-card button{
    border: none;
    background-color: #0088a9;
    color: #fff;
}

@media (max-width:621px){
    .selectSection{
        padding: 20px;
    }
}
@media (max-width:577px){
    .selectSection{
        padding: 10px;
    }
}
@media (max-width:551px){
    .selectSection{
        padding: 10px;
    }
}
@media (max-width:539px){
    .selectSection{
        padding: 5px;
    }
}
@media (max-width:408px){
    .selectSection{
        padding: 0px;
    }
    .selectSearchSection{
        background-color: #0088a9;
        display: flex;
        justify-content: center;
       border-radius: 8px;
        padding: 8px;
        box-shadow: 0 0 12px #ff000079;
    }
}
@media (max-width:308px) {
    .selectSearchSection button{
        padding: 8px;
    }
}
@media (max-width:1016px) {
    .row-card{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: 50px;
        padding: 30px;
        box-shadow: 2px -2px 12px rgba(184, 183, 183, 0.507);
        border-radius: 10px;
    }
    .row-card .myDiv6{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
}
@media (max-width:833px) {
    .row-card{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 50px;
        padding: 30px;
        box-shadow: 2px -2px 12px rgba(184, 183, 183, 0.507);
        border-radius: 10px;
    }
    .row-card .myDiv6{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv5{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
}
@media (max-width:833px) {
    .row-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 50px;
        padding: 30px;
        box-shadow: 2px -2px 12px rgba(184, 183, 183, 0.507);
        border-radius: 10px;
    }
    .row-card .myDiv6{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv5{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv4{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
}

@media (max-width:531px) {
    .row-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 50px;
        padding: 30px;
        box-shadow: 2px -2px 12px rgba(184, 183, 183, 0.507);
        border-radius: 10px;
    }
    .row-card .myDiv6{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv5{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv4{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv3{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
}

@media (max-width:376px) {
    .row-card{
        display: grid;
        grid-template-columns:1fr;
        margin: 50px;
        padding: 30px;
        box-shadow: 2px -2px 12px rgba(184, 183, 183, 0.507);
        border-radius: 10px;
    }
    .row-card .myDiv6{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv5{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv4{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv3{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
    .row-card .myDiv2{
        text-align: center;
        border-top: 1px solid #88888864;
        padding-top: 20px;
    }
}