li, a{
    color: #edf0f1;
    text-decoration: none;
}
header button{
    color: #edf0f1;
    text-decoration: none;
}

header{
     display: flex;
   justify-content: center;
    align-items: center; 
    padding: 30px 10%;
    background-color: #24252A;
}
span{
    padding: 0px 10px;
}

.logo{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 10px;
}
header p{
    position: absolute;
    right: 50px;
}

.nav_links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav_links li{
    display: inline-block;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    padding: 15px;
}

.nav_links li a:hover{
    color:#0088a9;
    border: 2px solid #0088a9;
   
}

header button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{
    background-color: rgba(0,136,169,0.8);
}

.btn-login{
    background-color: #0088a9;
    color: #fff;
}

form a {
    cursor: pointer;
}

.modal-footer button {
    background-color: #0088a9;
    color: #fff;
}

.mySpan a:hover{
    color: #0088a9;
}



@media (max-width:863px){
    header{
        font-size: 12px;
    }
}

@media (max-width:738px){
    .nav_links{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:607px){
    .nav_links{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width:550px){
    .nav_links{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;
        top:35px;
        left: 0px;
    }
    .logo{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 35px;
        top: 10px;
    }
    .logo span{
        color: #0088a9;
    }
    header{
        height: 100px;
    }
}
@media (max-width:361px){
    .nav_links{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;
        top:35px;
        left: 0px;
    }
    .logo{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 35px;
        top: 10px;
    }
    .logo span{
        color: #0088a9;
    }
    header{
        height: 100px;
    }
    header button{
        padding: 9px 25px;
        background-color: rgba(0,136,169,1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        position: absolute;
        left:-73px;
        top:40px;
    }
    
}