<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<div class="fluid-container">

  <header>
    <a class="logo" href="#"><span>algostyleBus</span><i class='bx bx-bus' style="color: #ffffff;"></i></a>
    <nav>
      <ul class="nav_links">
        <li><a routerLink="/search">Chercher des réservations</a></li>
        <li><a routerLink="/my-bookings">mes réservations</a></li>
        <li><a routerLink="/all-schedules">calendrier</a></li>
      </ul>
    </nav>
   <p>
    @if (someOneIsLoggedIn) {
      <span class="text-light">{{connectedUserName}}</span>
      <button (click)="logoff()">LogOff</button>
    }@else {
      <button (click)="openModel()">Login/SignUp</button>
    }  
   </p> 
  </header>

</div>
<router-outlet />

<div class="modal" tabindex="-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        @if (loginMode) {
          <h5 class="modal-title">Se Connecter</h5>
        }@else {
          <h5 class="modal-title">S'inscrire</h5>
        }
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()"></button>
      </div>
      <div class="modal-body">
     @if (!loginMode) {
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Nom d'Utilisateur</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="registerUserObj.userName">
        </div>
        <div class="mb-3">
          <label for="fullname" class="form-label">Nom Complet</label>
          <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="registerUserObj.fullName">
        </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="registerUserObj.email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de Passe</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="registerUserObj.password">
          </div>
          <div class="mb-3">
            <span class="mySpan">Déjà membre ? <a (click)="loginMode=true">Se Connecter</a></span>
          </div>
        </form>
     }@else {
      <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="loginUserObj.email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de Passe</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginUserObj.password">
          </div>
          <div class="mb-3">
            <span class="mySpan">Pas encore membre ? <a (click)="loginMode=false">S'inscrire</a></span>
          </div>
        </form>
     }
      </div>
      <div class="modal-footer">
        <button *ngIf="!loginMode" type="submit" class="btn btn-primary" (click)="onRegister()">S'inscrire</button>
        <button *ngIf="loginMode" type="submit" class="btn btn-primary" (click)="onLogin()">Se Connecter</button>
        <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-login">Login</button> -->
      </div>
    </div>
  </div>
</div>

